AWS_ACCESS_KEY_ID=SUA_CHAVE_AQUI             
AWS_SECRET_ACCESS_KEY=SUA_CHAVE_SECRETA_AQUI 
AWS_DEFAULT_REGION=us-east-1                 
TELEGRAM_TOKEN=SEU_TOKEN_DO_BOT             
BUCKET_NAME=SEU_BUCKET_AQUI